* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    padding-left: 3em;
    margin-top: 2em;
}
h1 {
    font-family: 'Fraunces', serif;
    font-weight: 100;
    font-size: 3em;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
article {
    display: inline;
}
article.second {
    position: absolute;
    top: 26em;
}
article.third {
    background-color: darkcyan;
    align-items: left;
    position: relative;
    left: 60%;
    top: 15em;
}